* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
}

.container {
    padding: 10px 30px;
}


:root {
    --primary-color: #8200E9;
    --primary-color-10: #0E001A;
    --primary-color-15: #27212C;
    --primary-color-20: #332F37;
    --primary-color-25: #413749;
    --primary-color-60: #A151E1;
    --primary-color-70: #B4ADB8;
    --primary-color-80: #CDC7D1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #03a9f4, #3f51b5);
}
header {
    position: fixed;
    width: 94%;
    background: #fff0;
    border-radius: 95px;
    top: 10px;
    transform: translate(-50%, 0);
    left: 50%;
    backdrop-filter: blur(10em);
    z-index: 1000;
    box-shadow: -1px 5px 20px 0 #0000001f;
}

header .container {
    padding: 0 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .logo {
    font-size: 28px;
    color: #fff;
}

header .container nav {
    position: relative;
    display: flex;
    align-items: center;
    height: 73px;
}

header .container nav ul {
    display: flex;
}

header .container nav.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: var(--before-right);
    width: var(--before-width, 0);
    height: 5px;
    background: #ffffff;
    border-radius: 10px;
    transition: .3s;
}

header .container nav ul li a {
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.btn a {
    color: white;
    padding: 15px;
    background: linear-gradient(45deg, #bc9ff1, #03a9f4);
    border-radius: 30px;
    box-shadow: 0px 0px 20px 6px #ffedfa2b, inset 1px 1px 20px 20px #00bcd400;
    /* border: 1px solid #ffffff42; */
}
