* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
}

.container {
    padding: 10px 30px;
}


:root {
    --primary-color: #8200E9;
    --primary-color-10: #0E001A;
    --primary-color-15: #27212C;
    --primary-color-20: #332F37;
    --primary-color-25: #413749;
    --primary-color-60: #A151E1;
    --primary-color-70: #B4ADB8;
    --primary-color-80: #CDC7D1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

body {
    background: linear-gradient(45deg, #03a9f4, #3f51b5, #2196f3, #3c20b8,
            #2196f3, #d941d9,
            #4821f3, #03a9f4,
            #3f51b5);
    animation: color 12s infinite ease-in-out;
    background-size: 500% 500%;
}

header {
    position: fixed;
    width: 94%;
    background: #fff0;
    border-radius: 95px;
    top: 10px;
    transform: translate(-50%, 0);
    left: 50%;
    backdrop-filter: blur(10em);
    z-index: 1000;
    box-shadow: -1px 5px 20px 0 #0000001f;
}

header .container {
    padding: 0 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .logo {
    font-size: 28px;
    color: #fff;
    padding-right: 10px;
}

header .container nav {
    position: relative;
    display: flex;
    align-items: center;
    height: 73px;
}

header .container nav ul {
    display: flex;
}

header .container nav.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: var(--before-right);
    width: var(--before-width, 0);
    height: 5px;
    background: #ffffff;
    border-radius: 10px;
    transition: .3s;
}

header .container nav ul li a {
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.btn a {
    color: white;
    padding: 15px;
    background: linear-gradient(45deg, #bc9ff1, #03a9f4);
    border-radius: 30px;
    box-shadow: 0px 0px 20px 6px #ffedfa2b, inset 1px 1px 20px 20px #00bcd400;
    /* border: 1px solid #ffffff42; */
}

.x {
    position: absolute;
    top: 8px;
    background: #fff;
    right: 12px;
    color: #e91e63;
    padding: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.bar {
    font-size: 25px;
    color: #00bcd4;
    background: #fff;
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media (max-width: 723px) {
    header .container {
        flex-direction: column;
    }
}

@media (max-width: 649px) {
    header {
        position: fixed;
        width: 100%;
        background: #fff0;
        border-radius: 0;
        top: 0px;
        transform: translate(0, 0);
        left: 0;
        backdrop-filter: none;
        z-index: 1000;
        box-shadow: -1px 5px 20px 0 #0000001f;
    }

    header .container {
        padding: 5px 20px;
        height: 90%;
        flex-direction: row;
    }

    header .container nav {
        display: flex;
        transform: translate(500px, 0);
        justify-content: space-around;
        align-items: center;
        width: 45%;
        background: #2196f3;
        inset: 0;
        height: 100vh;
        flex-direction: column;
        position: absolute;
        backdrop-filter: blur(10em);
        transition: .4s;
    }

    header .container nav.active {
        transform: translate(0, 0);
    }

    header .container nav.active::before {
        content: '';
        position: static;
        bottom: 0;
        right: 0;
        width: 0;
        height: 5px;
        background: none;
        border-radius: 0;
        transition: none;
    }

    header .container nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 53%;
    }

    .x {
        display: flex;
    }

    .bar {
        display: flex;
    }
}


.landing {
    min-height: 100vh;
    width: 100%;
    background: url(../img/bg3.jpg);
    background-attachment: fixed;
    background-size: cover;
    animation: bg 120s infinite linear;
}

.landing .container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing .container .text {
    text-align: center;
    width: 50%;
    margin: 91px 0 0 0;
}

.landing .container .text h1 {
    color: #ffffffa3;
    font-size: 55px;
}

.landing .container .text p {
    color: #ffffffc2;
    font-size: 20px;
    line-height: 1.8;

}

.landing .container .text .btn {
    padding: 25px;
}

.landing .container .text .btn a {
    margin: 0 10px;
}

.landing .container .text hr {
    width: 25%;
    margin: 12px auto;
    border-color: #fff;
}

.landing .container .text .socil {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing .container .text .socil a {
    margin: 0 5px;
}

.landing .container .text .socil a i {
    color: #fff;
    background: #8fa2f2;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@media (max-width: 1265px) {
    .landing .container .text {
        width: 60%;
    }
}

@media (max-width: 1064px) {
    .landing .container .text {
        width: 80%;
    }
}

@media (max-width: 813px) {
    .landing .container .text {
        width: 90%;
    }
}

@media (max-width: 729px) {
    .landing .container .text {
        width: 100%;
    }
}

@media (max-width: 662px) {
    .landing .container .text h1 {
        font-size: 40px;
    }
}

@media (max-width: 499px) {
    .landing .container .text h1 {
        font-size: 36px;
    }
}

@media (max-width: 454px) {
    .landing .container .text h1 {
        font-size: 27px;
    }
}

@media (max-width: 405px) {
    .landing .container .text p {
        font-size: 19px;
    }

    .btn a {
        padding: 12px;
    }

    .landing .container .text hr {
        width: 40%;
    }
}
@media (max-width: 390px) {
    .landing .container {
        padding: 10px;
    }
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }

}

@keyframes bg {
    30% {
        background-image: url(../img/bg1.jpg);
    }

    50% {
        background-image: url(../img/bg2.jpg);
    }

    100% {
        background-image: url(../img/bg3.jpg);
    }
}
